<div style="width: auto; height: auto">
  <form>
    <input type="text" style="width: 80%; height: 30px" ng-model="vm.query" ng-change="vm.onsearch()" placeholder="Enter Encounter ID, Patient Name or ID" />
  </form> <br/>
    
  <img ng-hide="vm.loading" src="../../img/loading.gif"/>

  <div ng-hide="vm.notFound"> <small> ** No Matches Found ** </small> </div>

  <div ng-hide="vm.IsHidden" style="height: 250px; overflow: scroll">
    <table>
      <tr>
        <th> Person </th>
        <th> Form (Encounter Date) </th>
        <th> Question Concept </th>
        <th> Value </th>
        <th> Display </th>
      </tr>
      <tr ng-repeat="observation in vm.observations | filter: vm.query">
        <td> {{observation.person.display}} </td>
        <td> {{observation.encounter.display}} </td>
        <td> {{observation.concept.display}} </td>
        <td> {{observation.value.display}} </td>
        <td> {{observation.display}} </td>
      </tr>
    </table>
  </div>
</div>
