<div style="width: auto; height: auto">
  <form>
    <input type="text" style="width: 80%; height: 30px" ng-model="vm.query" ng-change="vm.onsearch()" placeholder="Enter Name or ID" />
  </form> <br/>
    
  <img ng-hide="vm.loading" src="../../img/loading.gif"/>

  <div ng-hide="vm.notFound"> <small> ** No Matches Found ** </small> </div>

  <div ng-hide="vm.IsHidden" style="height: 250px; overflow: scroll">
    <table>
      <tr>
        <th> Provider Name </th>
        <th> Identifier </th>
      </tr>
      <tr ng-repeat="provider in vm.providers | filter: vm.query">
        <td> {{provider.person.display}} </td>
        <td> {{provider.identifier}} </td>
      </tr>
    </table>
  </div>
</div>
