<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.0">
	
	<!-- Patient Flags Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.patientflags</package>
	<author>Mark Goodrich</author>
	<description>Adds the ability to flag patient records</description>
	<activator>org.openmrs.module.patientflags.PatientFlagsModuleActivator</activator>

	<require_version>${openmrsPlatformVersion}</require_version>
	
	<!-- Required Modules -->

	<require_modules>
		<require_module version="${uiframeworkVersion}">org.openmrs.module.uiframework</require_module>
		<require_module>org.openmrs.module.metadatadeploy</require_module>
		<require_module version="${webservices.rest-omod.version}">org.openmrs.module.webservices.rest</require_module>
	</require_modules>

	<!-- Aware of Modules-->
	<!-- <aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
		<aware_of_module>org.openmrs.module.owa</aware_of_module>
	</aware_of_modules> -->

	<!-- Internationalization -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	
	<!-- Mapping File for the Flag Table -->
	<mappingFiles>
		DisplayPoint.hbm.xml 
		Flag.hbm.xml 
		Priority.hbm.xml 
		Tag.hbm.xml
	</mappingFiles>
	
	<!--  Extension Points -->

<!--  Handling extension in the activator now so that they can be configured/activated via global properties -->
	<!--  
	<extension>
		<point>org.openmrs.patientDashboard.afterLastEncounter</point>
		<class>org.openmrs.module.patientflags.extension.html.FlagPatientDashboardHeaderExt</class>
	</extension> 

	<extension>
		<point>org.openmrs.patientDashboard.overviewBox</point>
		<class>org.openmrs.module.patientflags.extension.html.FlagPatientOverviewExt</class>
	</extension> 

	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.patientflags.extension.html.FlagAdminExt</class>
	</extension> -->

	
	<!-- Required Privileges -->
	<privilege>
		<name>Manage Flags</name>
		<description>Allows user add, edit, and remove flags</description>
	</privilege>
	
	<privilege>
		<name>Test Flags</name>
		<description>Allows the user to test a flag, or set of flags, against a Patient set</description>
	</privilege>

	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	
	<globalProperty>
		<property>patientflags.patientHeaderDisplay</property>
		<defaultValue>true</defaultValue>
		<description>DO NOT MODIFY HERE: use manage flag global properties to modify; true/false whether or not to display flags in the Patient Dashboard header</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientflags.patientOverviewDisplay</property>
		<defaultValue>true</defaultValue>
		<description>DO NOT MODIFY HERE: use manage flag global properties to modify; true/false whether or not to display flags in the Patient Dashboard overview</description>
	</globalProperty>
</module>
